.filters__content {
    margin: 2rem 0 2.5rem;
    background-color: var(--text-color-lighten);
    padding: 0.375rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    column-gap: 0.5rem;
}

.filters__button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--title-color);
    font-size: var(--fs-sm);
    font-family: var(--body-font);
    font-weight: 500;
    border-radius: 0.75rem;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
}

.filters__button:hover {
    background-color: var(--body-color);
}

.filters [data-content] {
    display: none;
}

.filters__active[data-content] {
    display: grid;
}

.filter-tab-active {
    background-color: var(--body-color);
}